{% extends "base.html" %}
{% load i18n static %}
{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
  <style>
      .change-content{
          width: 600px;
          margin: 0 auto;
          padding: 10px;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="change-content">
    <p class="text-center">{% trans 'Your password was changed.' %}</p>
    <p class="text-center"><a class="btn btn-default" href="{% url "app:index" %}">TOPページに戻る</a></p>
  </div>
{% endblock %}
